<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lab.security.dao.PaperDAO">
	
	<resultMap type="Paper" id="paperMap">
	     <id property="id" column="id" />  
	     <result property="title" column="paper_title"/>  
	     <result property="journal" column="paper_journal"/>
	     <result property="publishTime" column="publish_date"/>
	     <result property="profId" column="prof_id"/>
	</resultMap>
	 
</mapper>